@page
@model SaucyCapstone.Pages.Instructor.Students.StudentCertificatesModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>Certificates For @(Model.Student.FirstName + " " + Model.Student.LastName)</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-route-studentId="@Model.Student.StudentId" asp-page="./Add/addCertificates" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add Certificate</a>
            <a class="btn btn-primary" asp-page="/Instructor/Students/Index">Back to Students</a>
        </div>
    </div>
    <hr />

    <table id="dataTable" class="table table-bordered table-striped " style="width:100%">
        <thead>
            <tr>
                <th>
                    Course
                </th>
                <th>
                    Level
                </th>
                <th>
                    Download
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="30%">
                    English
                </td>
                <td width="30%">
                    1
                </td>
                <td width="60%">
                    <a class="btn btn-info mx-2 al"><i class="bi bi-file-earmark-arrow-down-fill"></i> Download</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
}