@page
@model SaucyCapstone.Pages.Instructor.Students.StudentScheduleModel


<div class="card">
    <div class="card-header">
        <div class="h2">
            Student Schedule
            <span class="h3 text-muted">
                - @Model.ScheduleVM.Student.FirstName @Model.ScheduleVM.Student.LastName
            </span>
        </div>
    </div>
    @if (Model.ScheduleVM.Enrollments.Count > 0)
    {
        <div class="card-body">
            <div id="calendar"></div>
        </div>
        <div class="card-footer d-print-none">
            <div class="d-grid col-6 mx-auto">
                <button class="btn btn-lg btn-primary" type="button" id="btnPrint" onclick="printCalendar()">Print Schedule</button>
            </div>
        </div>
    }
    else
    {
        <div class="card-body">
            <i class="h4 text-muted text-center d-block">
                No Enrollments
            </i>
        </div>
        <div class="card-footer d-print-none">
            <div class="d-grid col-6 mx-auto">
                <a asp-page="Index" class="btn btn-primary">
                    Back to Student List
                </a>
            </div>
        </div>
    }
</div>
<br style="clear: right;" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            function fullcalendar() {
                var calendarEl = document.getElementById('calendar');
                var userObj = @Html.Raw(Json.Serialize(Model.CalendarEvents));
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                    initialView: 'timeGridWeek',
                    timeZone: 'local',
                    allDaySlot: false,
                    headerToolbar: {
                        start: '',
                        center: '',
                        end: ''
                    },
                    dayHeaderFormat: {
                        weekday: 'short'
                    },
                    contentHeight: 'auto',
                    slotMinTime: '06:00:00',
                    slotMaxTime: '21:00:00',
                    events: userObj,
                    eventTimeFormat: {
                        hour: 'numeric',
                        minute: '2-digit',
                        omitZeroMinute: true,
                        meridiem: 'short'
                    }
                });
                calendar.render();
                $('.fc-event-time').css('font-size', '.75rem');
                $('.fc-event-title').css('font-size', '1rem');
            };

            function printCalendar() {
                var w = window;
                //w.innerWidth = 1800;
                var c = window.document.getElementById('calendar');
                w.print();
            }

            document.addEventListener('DOMContentLoaded', function() {
                fullcalendar()
            });
        </script>
    }
    }
