@page
@model SaucyCapstone.Pages.Admin.Criteria.EditModel

<form method="post">
    <input type="hidden" asp-for="Criterion.CriterionId" />
    <input type="hidden" asp-for="Criterion.Ratings" />
    <div class="card">
        <h4 class="card-header">Update Criteria</h4>
        <div class="card-body rounded pb-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Description
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="description" asp-for="Criterion.Description" type="text" class="form-control" />
                        <span asp-validation-for="Criterion.Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Weight
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="weight" asp-for="Criterion.Weight" type="text" class="form-control" />
                        <span asp-validation-for="Criterion.Weight" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-success" style="width:100%">Update</button>
                </div>
                <div class="col-6">
                    <a asp-page="./Index" class="btn btn-primary" style="width:100%">
                        Back to Criteria Overview
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}