@page
@model SaucyCapstone.Pages.Admin.Courses.DeleteModel

<form method="post">
    <input type="hidden" asp-for="CourseVM.CourseId" />
    <div class="card">
        <h4 class="card-header">Delete Course</h4>
        <div class="card-body rounded pb-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Term
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select asp-for="CourseVM.Term.TermId" asp-items="@Model.CourseVM.TermList" class="form-select" disabled>
                            <option disabled>---Select Term---</option>
                        </select>
                        <span asp-validation-for="CourseVM.Term.TermId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Instructor
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select asp-for="CourseVM.Instructor.FacultyMemberId" asp-items="@Model.CourseVM.InstructorList" class="form-select" disabled>
                            <option disabled>---Select Instructor---</option>
                        </select>
                        <span asp-validation-for="CourseVM.Instructor.FacultyMemberId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Subject
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select asp-for="CourseVM.Subject.SubjectId" asp-items="@Model.CourseVM.SubjectList" class="form-select" disabled>
                            <option disabled>---Select Subject---</option>
                        </select>
                        <span asp-validation-for="CourseVM.Subject.SubjectId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    Course Level
                    </div>
                <div class="col-9">
                    <div class="form-group">
                        <select asp-for="CourseVM.Course.CourseLevel" class="form-select" disabled>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div class="col-3 text-end">
                    School
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <select asp-for="CourseVM.School.SchoolId" asp-items="@Model.CourseVM.SchoolList" class="form-select" disabled> 
                            <option disabled>---Select School---</option>
                        </select>
                        <span asp-validation-for="CourseVM.School.SchoolId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-danger" style="width:100%">Delete</button>
                </div>
                <div class="col-6">
                    <a asp-page="Index" class="btn btn-primary" style="width:100%">
                        Back to Course Overview
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
