@page
@model SaucyCapstone.Pages.Admin.Courses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.School.SchoolName)*@
            School
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseVM.School)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Course.CourseName)*@
            Course
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Course.CourseName)*@
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Course.SubjectName)*@
            Subject
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Course.SubjectName)*@
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course?.CourseId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
