@page
@using Data
@model SaucyCapstone.Pages.Judge.Applicant.CreateModel
@{
}

<form method="post" enctype="multipart/form-data">
    <input asp-for="Applicant.StudentDetails.StudentId" hidden />
    <input asp-for="Applicant.StudentDetails.LastModifiedDate" hidden />
    <input asp-for="Applicant.StudentDetails.IsActive" hidden />
    <input asp-for="Applicant.StudentDetails.Ratings" hidden />
    <input asp-for="Applicant.StudentDetails.StudentGuardians" hidden />


    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="container rounded">
                    <div class="row">
                        <button type="button" class="btn btn-primary col-6" onclick="changeTab('Student')">Student Info</button>
                        <button type="button" class="btn btn-info col-6" onclick="changeTab('Guardian')">Guardian Info</button>
                    </div>
                    <hr>

                    <div id="Student" class="category">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span>Student Details</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">First Name</div>
                                    <div class="col-9">

                                        <input id="studentFirst" asp-for="Applicant.StudentDetails.FirstName" type="text" class="form-control" />
                                        <span asp-validation-for="Applicant.StudentDetails.FirstName" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Last Name</div>
                                    <div class="col-9">

                                        <input id="studentLast" asp-for="Applicant.StudentDetails.LastName" type="text" class="form-control" />
                                        <span asp-validation-for="Applicant.StudentDetails.LastName" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Phone</div>
                                    <div class="col-9">

                                        <input asp-for="Applicant.StudentDetails.Phone" type="text" class="form-control" />
                                        <span asp-validation-for="Applicant.StudentDetails.Phone" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Date of Birth</div>
                                    <div class="col-9">

                                        <input id="dob" asp-for="Applicant.StudentDetails.DateOfBirth" type="date" class="form-control" />
                                        <span asp-validation-for="Applicant.StudentDetails.DateOfBirth" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">School Level</div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <select asp-for="Applicant.StudentDetails.SchoolLevel" class="form-select">
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Determination</div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <select asp-for="Applicant.StudentDetails.Determination" class="form-select" asp-items="Html.GetEnumSelectList<Student.DeterminationLevel>()"></select>
                                            <span asp-validation-for="Applicant.StudentDetails.Determination" class="text-danger" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Address</div>
                                    <div class="col-9">

                                        <input asp-for="Applicant.StudentDetails.Address" type="text" class="form-control" />
                                        <span asp-validation-for="Applicant.StudentDetails.Address" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Village</div>
                                    <div class="col-9">

                                        <input asp-for="Applicant.StudentDetails.Village" type="text" class="form-control" />
                                        <span asp-validation-for="Applicant.StudentDetails.Village" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Lattitude</div>
                                    <div class="col-9">

                                        <input asp-for="Applicant.StudentDetails.Latitude" type="text" class="form-control" />
                                        <span asp-validation-for="Applicant.StudentDetails.Latitude" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Longitude</div>
                                    <div class="col-9">

                                        <input asp-for="Applicant.StudentDetails.Longitude" type="text" class="form-control" />
                                        <span asp-validation-for="Applicant.StudentDetails.Longitude" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Annual Income</div>
                                    <div class="col-9">

                                        <input id="income" asp-for="Applicant.StudentDetails.AnnualIncome" type="text" class="form-control" />
                                        <span asp-validation-for="Applicant.StudentDetails.AnnualIncome" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1 pb-3">
                                    <div class="col-3">Food Assist?</div>
                                    <div class="col-3">

                                        <input asp-for="Applicant.StudentDetails.FoodAssistance" type="checkbox" class="form-check-input" type="checkbox" />
                                        <span asp-validation-for="Applicant.StudentDetails.FoodAssistance" class="text-danger"></span>

                                    </div>
                                    <div class="col-3">Chappa Assist?</div>
                                    <div class="col-3">

                                        <input asp-for="Applicant.StudentDetails.ChappaAssistance" type="checkbox" class="form-check-input" type="checkbox" />
                                        <span asp-validation-for="Applicant.StudentDetails.ChappaAssistance" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span>School Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Accepted Date</div>
                                    <div class="col-9">

                                        <input asp-for="Applicant.StudentDetails.AcceptedDate" type="date" class="form-control" disabled />
                                        <span asp-validation-for="Applicant.StudentDetails.AcceptedDate" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Status</div>
                                    <div class="col-9">

                                        <input asp-for="Applicant.StudentDetails.Status" type="text" class="form-control" disabled />
                                        <span asp-validation-for="Applicant.StudentDetails.Status" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1 pb-6">
                                <img src="@Model.Applicant.StudentDetails.ImageUrl"
                                     width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                                <div class="mb-3">
                                    <input asp-for="Applicant.StudentDetails.ImageUrl" type="file" id="uploadBox" name="file" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="Guardian" class="category" style="display:none">
                        <div class="col-12">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span>Guardian Details</span>
                                        <input id="guardianButton" disabled class="btn btn-primary" value='Add Additional Guardian' type="submit" >
                                </h4>
                            </div>

                            @for (var i = 0; i < Model.Applicant.GuardianDetails.Count(); i++)
                            {

                                <div id="guardianTable">
                                    <input asp-for="Applicant.GuardianDetails[i].GuardianId" hidden />
                                    <input asp-for="Applicant.GuardianDetails[i].Guardians" hidden />


                                    <div class="row my-1">
                                        <div class="col-3">First Name</div>
                                        <div class="col-9">

                                            <input id="guardianFirst" asp-for="Applicant.GuardianDetails[i].FirstName" type="text" class="form-control" />
                                            <span asp-validation-for="Applicant.GuardianDetails[i].FirstName" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Last Name</div>
                                        <div class="col-9">

                                            <input id="guardianLast" asp-for="Applicant.GuardianDetails[i].LastName" type="text" class="form-control" />
                                            <span asp-validation-for="Applicant.GuardianDetails[i].LastName" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Contact Info</div>
                                        <div class="col-9">

                                            <input id="guardianContact" asp-for="Applicant.GuardianDetails[i].ContactInfo" type="text" class="form-control" />
                                            <span asp-validation-for="Applicant.GuardianDetails[i].ContactInfo" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">Relationship</div>
                                        <div class="col-9">

                                            <input id="guardianRelation" asp-for="Applicant.GuardianDetails[i].Relation" type="text" class="form-control" />
                                            <span asp-validation-for="Applicant.GuardianDetails[i].Relation" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" onclick="return validateInput()" o class="btn btn-success" style="width:100%">Update/Create</button>
                        </div>
                        <div class="col-6">
                            <a asp-page="Index" class="btn btn-danger" style="width:100%">
                                Back to Applicants
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function validateInput() {
            if (document.getElementById("studentFirst").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter the Students First Name!',
                });
                return false;
            }
            if (document.getElementById("studentLast").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter the Students Last Name!',
                });
                return false;
            }
            if (document.getElementById("dob").value == "0001-01-01") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter the Students Date of Birth!',
                });
                return false;
            }
            if (document.getElementById("income").value == "0") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter the Students Annual Income!',
                });
                return false;
            }
            if (document.getElementById("guardianFirst").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter the Guardians First Name!',
                });
                return false;
            }
            if (document.getElementById("guardianLast").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter the Guardians Last Name!',
                });
                return false;
            }
            if (document.getElementById("guardianContact").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter the Guardians Contact Info!',
                });
                return false;
            }
            if (document.getElementById("guardianRelation").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter the Guardians Relationship Info!',
                });
                return false;
            }
            return true;
        }




        function changeTab(category) {
            var i, x, tablinks;
            x = document.getElementsByClassName("category");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(category).style.display = "block";
        }

        //onclick="AddGuardian('guardianTable');"
        //$("#guardianButton").click(function(e) {
        //    e.preventDefault();
        //    var formData = new FormData();
        //    var newGuardian = $("#guardianTable").clone();
        //    newGuardian.attr("id", "guardianTable-" + $(".row").length);
        //    newGuardian.insertAfter("#guardianTable:last");
        //});

    </script>
    }