@page
@model SaucyCapstone.Pages.Admin.Terms.CreateModel

@{
    ViewData["Title"] = "Create Term";
}

<h1>Create Term</h1>


<hr />

<form method="post">
    <div class="card">
        <h4 class="card-header">Create Term</h4>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Term.StartDate" class="control-label"></label>
                <input asp-for="Term.StartDate" class="form-control" />
                <span asp-validation-for="Term.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term.EndDate" class="control-label"></label>
                <input asp-for="Term.EndDate" class="form-control" />
                <span asp-validation-for="Term.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term.TermName" class="control-label"></label>
                <input asp-for="Term.TermName" class="form-control" />
                <span asp-validation-for="Term.TermName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Term.IsActive" /> @Html.DisplayNameFor(model => model.Term.IsActive)
                </label>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <input type="hidden" asp-for="Term.Courses" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>


</form>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
