@page
@model SaucyCapstone.Pages.Index
@{
	ViewData["Title"] = "Index";
}

<h1>todo list</h1>

<h4>ability to select top 'n' applicants and move them to studenthood</h4>
<h4>student attendence and grades</h4>
<h4>ability to "clone" term and all associated things (courses, sessions, assignments)</h4>
<h4>localization for portuguese</h4>
<h4>about us page</h4>
<h4>reporting page</h4>




