@page
@using SaucyCapstone.Static
@model SaucyCapstone.Pages.Index
@{
	ViewData["Title"] = "Home Page";
}

<div>
	<h3 localize-content>No Poor Among Us</h3>
</div>

<br/>

@if (@User.IsAdmin() || @User.IsInstructor() || @User.IsSocialWorker())
{
	<div>
		<h5 localize-content>Quick Links:</h5>
	</div>

	<div>
		<a class="btn btn-primary m-2" style="min-width:175px" asp-page="/Judge/Applicant/Index">
			<i class="bi bi-card-list" style="font-size:xx-large"></i> <br /><localize>Applicant Overview</localize>
		</a>
		<a class="btn btn-primary m-2" style="min-width:175px" asp-page="/Instructor/Students/Index">
			<i class="bi bi-person" style="font-size:xx-large"></i> <br /><localize>Students</localize>
		</a>
		<a class="btn btn-primary m-2" style="min-width:175px" asp-page="/Instructor/Sessions/Index">
			<i class="bi bi-mortarboard" style="font-size:xx-large"></i> <br /><localize>Sessions</localize>
		</a>
		<a class="btn btn-primary m-2" style="min-width:175px" asp-page="/Instructor/Assessments/Index">
			<i class="bi bi-book" style="font-size:xx-large"></i> <br /><localize>Assignments</localize>
		</a>
	</div>
}
else 
{
	<div>
		<h4 localize-content>Welcome!</h4>
		<h5 localize-content>Please log in to use the application.</h5>
	</div>
}