@page
@model SaucyCapstone.Pages.Students.addNotesModel


<form method="post" enctype="multipart/form-data">
    <input asp-for="studentNote.NoteId" hidden />
    <input asp-for="studentNote.Student.StudentId" hidden />
    <input asp-for="studentNote.FacultyMember.FacultyMemberId" hidden />
    <div class="container">
        <div class="card">
            <div class="card-body">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span>New Note</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Topic</div>
                                <div class="col-9">
                                    <input asp-for="studentNote.Topic" type="text" class="form-control" />
                                    <span asp-validation-for="studentNote.Topic" class="text-danger"></span>
                                </div>
                            </div>
                             <div class="row my-1">
                                <div class="col-3">Content</div>
                                <div class="col-9">
                                    <textarea asp-for="studentNote.Content" class="form-control" ></textarea>
                                    <span asp-validation-for="studentNote.Content" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Create</button>
                        <a class="btn btn-primary" asp-page="/Students/StudentNotes" >Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}