@page
@model SaucyCapstone.Pages.Students.StudentNotesModel
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Student Notes</h2>
        </div>
    </div>
    <br />
        <div class="float-end">             
        <a class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add Note</a>         
     </div>
    
    <br />
    <br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Note
            </th>
            <th>
                Note Type
            </th>
            <th>
                Creator
            </th>
            <th>
                Created Date
            </th>
            <th>
                Edited Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td width="40%">
                    I wanna die
                </td>
                <td width="10%">
                    Advice
                </td>
                <td width="10%">
                    Someone
                </td>
                <td width="10%">
                    4/20/6969
                </td>
                <td width="10%">
                    4/20/6969
                </td>
                <td width="10%">
                    <div class="btn-group" role="group">
                        <a class="btn btn-success mx-2" >Edit</a>
                        <a class="btn btn-danger mx-2" >Delete</a>
                    </div>
                </td>
            </tr>
    </tbody>
</table>

 <a class="btn btn-primary" asp-page="/Students/Index" >Go Back</a>


</div>