@page
@model SaucyCapstone.Pages.Admin.Schools.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2>School Overview</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> &nbsp; New School
            </a>
        </div>
    </div>
    <hr />

    <table id="dataTable" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    School Name
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.School)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>
                    <td>
                        <div class="btn-group" role="group" style="justify-content:end">
                            <a asp-page="Edit" asp-route-id="@item.SchoolId"
                           class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i>&nbsp;Edit</a>
                            <a asp-page="Delete" asp-route-id="@item.SchoolId"
                           class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i>&nbsp;Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('#dataTable').dataTable();
        });
    </script>
    }
