@page
@using SaucyCapstone.Constants;
@model SaucyCapstone.Pages.Admin.UserManagement.CreateModel
@{
    ViewData["Title"] = "New User";
}

<form method="post">
    <div class="card">
        <h4 localize-content class="card-header">Create User</h4>
        <div class="card-body rounded pb-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div localize-content class="col-3 text-end">
                    Email
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="email" asp-for="Input.Email" type="text" class="form-control" autocomplete="Email" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div localize-content class="col-3 text-end">
                    Password
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="password" asp-for="Input.Password" type="text" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div localize-content class="col-3 text-end">
                    Confirm Password
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="confirmPassword" asp-for="Input.ConfirmPassword" type="text" class="form-control" autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div localize-content class="col-3 text-end">
                    First Name
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="firstName" asp-for="Input.FirstName" type="text" class="form-control" autocomplete="First Name" aria-required="true" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div localize-content class="col-3 text-end">
                    Last Name
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="LastName" asp-for="Input.LastName" type="text" class="form-control" autocomplete="Last Name" aria-required="true" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div localize-content class="col-3 text-end">
                    Roles
                </div>
                <div class="col-9">
                    <div class="form-check">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" asp-for="Input.Admin" class="form-check-input" value="true">
                            <label class="form-check-label" asp-for="Input.Admin">@Roles.Admin</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" asp-for="Input.Instructor" class="form-check-input" value="true">
                            <label class="form-check-label" asp-for="Input.Instructor">@Roles.Instructor</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" asp-for="Input.Rater" class="form-check-input" value="true">
                            <label class="form-check-label" asp-for="Input.Rater">@Roles.Rater</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="checkbox" asp-for="Input.SocialWorker" class="form-check-input" value="true">
                            <label class="form-check-label" asp-for="Input.SocialWorker">@Roles.SocialWorker</label>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <button localize-content id="registerSubmit" type="submit" class="btn btn-success" style="width:100%">Create</button>
                        </div>
                        <div class="col-6">
                            <a localize-content asp-page="Index" class="btn btn-primary" style="width:100%">
                                Back to User Overview
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <localization-validation-scripts></localization-validation-scripts>
    }
}