@page
@model SaucyCapstone.Pages.Admin.UserManagement.IndexModel
@{

}
<h1>Users</h1>

<p>
    <a asp-page="Create">Add New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Email
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersVM)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    Actions
                    <form method="post">
                        @{
                            if (item.LockoutEnd > DateTime.Now)
                            {
                                <button type="submit" class="btn btn-outline-warning" asp-page-handler="LockUnlock" asp-route-id="@item.Id"><i class="bi bi-unlock"></i> Unlock</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-outline-warning" asp-page-handler="LockUnlock" asp-route-id="@item.Id"><i class="bi bi-lock"></i> Lock</button>
                            }
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>