@page
@model SaucyCapstone.Pages.Admin.Subjects.EditModel

<form method="post">
    <input type="hidden" asp-for="Subject.SubjectId" />
    <input type="hidden" asp-for="Subject.Courses" />
    <div class="card">
        <h4 localize-content class="card-header">Update Subject</h4>
        <div class="card-body rounded pb-2">
            <div localize-content asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row my-1 mb-2 d-flex align-items-center">
                <div localize-content class="col-3 text-end">
                    Subject Name
                </div>
                <div class="col-9">
                    <div class="form-group">
                        <input id="subjectName" asp-for="Subject.SubjectName" type="text" class="form-control" />
                        <span asp-validation-for="Subject.SubjectName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <button localize-content type="submit" class="btn btn-success" style="width:100%">Update</button>
                </div>
                <div class="col-6">
                    <a localize-content asp-page="./Index" class="btn btn-primary" style="width:100%">
                        Back to Subject Overview
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <localization-validation-scripts></localization-validation-scripts>
    }
}