@using SaucyCapstone.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SaucyCapstone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SaucyCapstone.styles.css" asp-append-version="true" />
    <link id="radzenTheme" rel="stylesheet" href="~/css/themes/default-base.css" />
    <link id="theme" rel="stylesheet" href="~/css/themes/flatly.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/css/flag-icon.min.css" />    
    <base href="~/" />
</head>
<body>
    <header class="d-print-none">
        <nav class="navbar navbar-expand-lg border-bottom navbar-dark bg-primary box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-page="/Index">SaucyCapstone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a localize-content class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <div class="dropdown-menu">
                                <a localize-content class="dropdown-item" asp-page="/Admin/Courses/Index">Courses</a>
                                <a localize-content class="dropdown-item" asp-page="/Admin/Criteria/Index">Criteria</a>
                                <a localize-content class="dropdown-item" asp-page="/Admin/Schools/Index">Schools</a>
                                <a localize-content class="dropdown-item" asp-page="/Admin/Subjects/Index">Subjects</a>
                                <a localize-content class="dropdown-item" asp-page="/Admin/Terms/Index">Terms</a>
                                <div class="dropdown-divider"></div>
                                <a localize-content class="dropdown-item" asp-page="/Admin/UserManagement/Index">Manage Users</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a localize-content class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Applicant</a>
                            <div class="dropdown-menu">
                                <a localize-content class="dropdown-item" asp-page="/Judge/Applicant/Index">Overview</a>
                                <a localize-content class="dropdown-item" asp-page="/Judge/Ratings/Index">Ratings</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a localize-content class="nav-link" asp-page="/Instructor/Students/Index">Student</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a localize-content class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Instructor</a>
                            <div class="dropdown-menu">
                                <a localize-content class="dropdown-item" asp-page="/Instructor/Sessions/Index">Sessions</a>
                                <a localize-content class="dropdown-item" asp-page="/Instructor/Assessments/Index">Assignments</a>
                            </div>
                        </li>
                        @*<li class="nav-item">
                            <a localize-content class="nav-link" asp-page="/Admin/Reports/Index">Reports</a>
                        </li>*@
                    </ul>

                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-gear"></i></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="dropdown-item">
                                    <div localize-content>Dark Mode:</div>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch">
                                        <div class="custom-control-label" for="themeSwitch"><i id="themeIcon" class="bi bi-sun-fill"></i></div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a localize-content class="dropdown-item" asp-page="/Shared/About">About</a>
                            </div>
                        </li>
                    </ul>
                    <language-nav flags="true" render-mode="Bootstrap5" redirect-to-url="@(Url.Page(ViewContext.RouteData.Values["Page"].ToString(), new { culture = "{0}" }))" cookie-handler-url="@Url.Page("/Index", "SetCultureCookie", new { area="", cltr="{0}", returnUrl="{1}" })">></language-nav>
                    <partial name="_LoginPartial" />


                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-print-none">
        <div class="container">
            <div>&copy; 2022 - SaucyCapstone</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
