@page
@model SaucyCapstone.Pages.Shared.AboutModel
@{
}

<div class="container">
    <div>
        <h2 style="text-align:center">About the team</h2>
    </div>

    <div>
        <p style="text-align:center">This application was brought to you by Team Saucy Coders!</p> 
        <br />
        <img class="mx-auto d-block" alt="Saucy Coders Logo" src="~/images/saucy_coders_logo.png" />
        <h6 style="text-align:center">Pour Out Some Code</h6>
        <br />
        <p style="text-align:center">It has been our pleasure to work with No Poor Among Us on this management tool. We are grateful to have been able to hone our skills working with you!</p>
    </div>
</div>

<div class="container">
    <h3 style="text-align:center">Saucy Coders are:</h3>

    <div class="row">
        <div class="col m-2">
            <div class="card text-center mx-auto" style="width:225px">
                <h5 class="card-title">Amber Spatig</h5>
                <a href="https://github.com/ams6293" class="card-link">Github</a>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center mx-auto" style="width:225px">
                <h5>Favio Otero Saavedra</h5>
                <a href="https://github.com/faviootero123" class="card-link">Github</a>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center mx-auto" style="width:225px">
                <h5>Jay Waters</h5>
                <a href="https://github.com/jayprestonwaters" class="card-link">Github</a>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center mx-auto" style="width:225px">
                <h5>John Barnett</h5>
                <a href="https://github.com/JohnnySixStrings" class="card-link">Github</a>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center mx-auto" style="width:225px">
                <h5>Sean Foster</h5>
                <a href="https://github.com/seanafoster" class="card-link">Github</a>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center mx-auto" style="width:225px">
                <h5>William Allen</h5>
                <a href="https://github.com/WILL-K-ALLEN" class="card-link">Github</a>
            </div>
        </div>
        <div class="col m-2">
            <div class="card text-center mx-auto" style="width:225px">
                <h5>William Lyday</h5>
                <a href="https://github.com/WilliamLyday" class="card-link">Github</a>
            </div>
        </div>
    </div>
</div>
